@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
  }
  

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
    margin: 0;

}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;

}

a{
    text-decoration: none;
    color: #000000;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
button{
    outline: none;
    cursor: pointer;
}
.btn{
    max-width: 225px;
    width: 100%;
    height: 65px;
    background: #34547A;
    color:#ffffff;
    border: none;
}

.description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 540px;
    margin: 0 auto;
    
}
.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    
}
/* header */
.header{
    background: #EEEFF1;
    padding-top: 57px;
}
.header__container{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    display: flex;
    column-gap: 40px;
    
}
.header__list-link:hover{
    background: #34547A;
    color: #ffffff;
    padding: 7px;
    transition: .5s;
}
.header__img{
    margin-right: 20px;
    margin-bottom: 20px;
}
/* .header__bottom{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 160px 0 70px 70px;
}
.header__description{
    max-width:540px;
    width: 100%;
}
.header__bottom-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 130px;
} */
.hero{
    background: #EEEFF1;
    padding-top: 120px;
}
.hero_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.hero__title, .hero__description{
    margin-bottom: 60px;
    text-align: start;
}
.hero__description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    max-width: 540px;
    width: 100%;
}
.hero__design{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}
.hero__mac__item-link{
    padding: 15px;
}
.hero__btn{
    margin-bottom: 146px;
}
.hero__btn:hover{
    background: #45C7FF;
    border: transparent;
    transition: .5s;
}
/* about */

.about__me-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__me-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    margin-top: 119px;
    margin-bottom: 50px;
}
.about__me-description{
   margin-bottom: 100px;

}
.about__me-description{

    text-align: center;
}
/* proects */
.proects{
    background: #34547A;
    color:#ffffff;
    padding: 100px 0 100px;
}
.proects__list-item{
    background: url(../images/project.png) no-repeat;
    width: 141px;
    width: calc(100% / 6);
    height: 50px;
    padding-left: 70px;
    margin-bottom: 30px;
    

}
.proects__title{
    margin-bottom: 10px;
}
.proects__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
   
}
/* accent */
.accent__b{
    max-width: 445px;
    width: 100%;
    height: 4px;
    background: #C4C4C4;
}
.accent{
    max-width: 445px;
    width: 100%;
}
.accent__description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: start
}
.accent__sm{
    max-width: 350px;
    width: 75%;
    height: 4px;
    background: #34547A;
    transform: rotate(-0.06deg);
}
.accent__face-foto{
    max-width: 555px;
    width: 100%;
    height: 450px;
}
.accent__face{
    max-width: 555px;
    width: 100%;
    margin: 30px;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 0 100px ;
}
.skills__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 60px;
    justify-content: center;
}
/* work */
.work{
    background: #EEEFF1;
    padding:100px 0 100px;
}
.work-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    

}
.work__title{
    margin-bottom: 50px;
}
.work__description{
    max-width: 540px;
    width: 100%;
    padding-bottom: 57px;
}
.work__description{
  text-align: center;
}
/* foto */

.foto__item-paper{
    background-image: url(../images/Rectangle.png);
    background-size: cover;
    max-width: 480px;
    width: 100%;
    height: 480px;
}
.foto__item-mac{
    background-image: url(../images/Rectanglebook.png);
    background-size: cover;
    max-width: 480px;
    width: 100%;
    height: 480px;
}
.foto-paper-mac{
    display: flex;
    flex-wrap: wrap;
    flex: 480px 1 1;
    justify-content: center;
    
}

.foto__item-paper:hover{
    background:url(../images/view.png) no-repeat center,
    linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), 
    url(../images/Rectangle.png);
    
    
}
.foto__item-mac:hover{
    background:url(../images/view.png) no-repeat center,
    linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), 
    url(../images/Rectanglebook.png);
    
   
}
.foto-paper-mac-bottom{
    display: flex;
    margin-top: 0;
}
.microsoft{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
    align-items: center;
}

/* form-group */

.form-group{
    padding: 100px 0 100px;
    background: #EEEFF1;
}
.form-group-title{
    margin-bottom: 50px;
}
.form-group-description{
    margin-bottom: 65px;
    max-width: 540px;
    width: 100%;
}
.form{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    max-width: 540px;
    margin: 0 auto;
}
.label-form{
    width:calc(50% - 15px)
}
.input__form-name, .input__form-email{
    height: 55px;
    width: 100%;
    padding-left: 20px;
    border: none;
    outline: none
}
.form-textarea{
    width: 100%;
    min-height: 175px;
    padding: 15px;
    outline: none;
    border: none;
    resize: none;
    margin-top: 20px;
}
.form-btn{
    width: 190px;
    height: 55px;
    background: #34547A;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 50px;

}
.form-btn:hover{
    background: #45C7FF;
    border: transparent;
    transition: .5s;
}
/* footer */

.footer__ns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #34547A;
    padding: 50px 0 60px;
    color: #ffffff;
}
.footer__name-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 20px;
}
.social-link{
    width: 43.75px;
    height: 40px;
    margin-left: 22px;
}




@media screen and (max-width:1360px){
    .container{
        width: 90%;
    }
    .header__container{
        justify-content: space-around;
    }
    .work__video{
        width: 80%;
    }
    .hero__description{
        width: 80%;
    }
   .skills__item{
    align-items: center;
    padding-bottom: 30px;
   }
}
@media screen and (max-width:1070px){
    .hero__design{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero__mac__item-link {
        padding: 50px;
    }
    .proects__list-item{
        width: calc(100% / 3);
    }
}
@media screen and (max-width:800px){
    .header__container{
        flex-direction: column;
    }
}
@media screen and (max-width:600px){
    .header__list{
        flex-direction: column;
        row-gap: 40px;
    }
    .proects__list-item{
        width: calc(100% / 2);
    }
    .label-form{
        max-width: 540px;
        width: 100%;
    }
    .label-form:not(:last-child){
        margin-bottom: 35px;
    }
    
}